<head>
	<title>{{ site.title }}</title>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
	<link rel="manifest" href="/favicon/site.webmanifest">
	<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#00aba9">
	<meta name="theme-color" content="#ffffff">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

	<!-- Primary Meta Tags -->
	<meta name="title" content="monoless.io">
	<meta name="description" content="A Guide for Monolithic to Serverless and Beyond">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://monoless.io/">
	<meta property="og:title" content="monoless.io">
	<meta property="og:description" content="A Guide for Monolithic to Serverless and Beyond">
	<meta property="og:image" content="{{ site.url }}/assests/images/meta.jpg">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary_large_image">
	<meta property="twitter:url" content="https://monoless.io/">
	<meta property="twitter:title" content="monoless.io">
	<meta property="twitter:description" content="A Guide for Monolithic to Serverless and Beyond">
	<meta property="twitter:image" content="{{ site.url }}/assests/images/meta.jpg">
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/html5shiv.js" | relative_url }}"></script><![endif]-->
	<link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}" />
	<!--[if lte IE 9]><link rel="stylesheet" href="{{ "assets/css/ie9.css" | relative_url }}" /><![endif]-->
	<!--[if lte IE 8]><link rel="stylesheet" href="{{ "assets/css/ie8.css" | relative_url }}" /><![endif]-->
</head>
